.footer {
    padding: 10px;
    background-color: #1976d2;
    text-align: center;

  }
  .footer-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 84px;
  }
  .instagram {
    align-content: center;
  }
  .instagram svg {
    width: 34px;
    fill: white;

  }
  .facebook {
    align-content: center;
  }
  .facebook svg {
    width: 25px;
    fill: rgb(201, 14, 14);

  }
  .twitter {
    align-content: center;
    padding-left: 5px;
  }
  .twitter svg {
    width: 25px;
    fill: white;
  }
  .footer-middle{
      display: flex;
      gap: 30px;
      justify-content: center;
      align-items: center;
      padding-bottom: 10px;
      flex-wrap: wrap;
  }
  .footer-middle span{
    color: white;
  } 
    