.specialty-card-wrapper {
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: space-around;
}
.container-wrapper span {
font-size: medium;
padding: 50px 75px 0px;
font-weight: 600;
}
