.navbar-container {
  padding: 10px;
  background-color: #1976d2;
  display: flex;
}
.nav-left {
  display: flex;
  gap: 40px;
  width: 100%;
  padding: 12px 0 8px 60px;
}

.home-svg {
  width: 40px;
  height: 40px;
}
.request-svg {
  width: 46px;
  height: 46px;
}
.add-medicine-svg {
  width: 37px;
  height: 38px;
  padding-top: 4px;
}
.orders-svg {
  width: 37px;
  height: 38px;
  padding: 4px;
}
.nav-right {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 60px;
  padding-top: 10px;
}
.logout-svg {
  width: 43px;
  height: 43px;
}
/* Styles for screens smaller than 600px */
@media only screen and (max-width: 600px) {
  .navbar-container {
    align-items: center; /* Center items horizontally */
  }

  .nav-left {
    padding: 12px 0 8px 0; /* Adjust padding */
    gap: 20px; /* Reduce the gap between items */
  }

  .nav-right {
    justify-content: right;
  }

  /* Adjust the size of the SVG icons */
  .home-svg,
  .request-svg,
  .add-medicine-svg,
  .orders-svg,
  .logout-svg {
    width: 30px;
    height: 30px;
  }
}
